:root{
    --safety-orange: hsl(25, 100%, 50%);
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: hsl(328, 100%, 59%);
    --red-crayola: hsl(341, 100%, 49%);
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);
    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background-color: var(--white-1);
    color: var(--gray-web);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.btn{
    padding: 1.6rem 3rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    color: var(--white-1);
    background-color: var(--persian-rose);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    /* position: sticky;
    top: 0;
    left: 0; */
    width: 100%;
    height: 12vh;
}
header span{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navbar ul li{
    list-style-type: none;
    padding: 2rem 2.5rem;
}
header .navbar ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--black);
}
header .menu{
    color: var(--black);
    font-size: 3.5rem;
    display: none;
    cursor: pointer;
}
header .close{
    color: var(--black);
    font-size: 3.5rem;
    display: none;
    cursor: pointer;
}
.home .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .container .homeImg{
    flex: 1 1 40rem;
    padding: 8rem;
}
.home .container .homeImg img{
    width: 100%;
}
.home .container .hometext{
    flex: 1 1 40rem;
    padding: 1.5rem;
}
.home .container .hometext strong{
    color: var(--gray-web);
    font-size: 1rem;
    letter-spacing: .6rem;
}
.home .container .hometext span{
    color: var(--persian-rose);
    font-weight: bolder;
}
.home .container .hometext h1{
    color: black;
    padding-top: 1.5rem;
    font-size: 6rem;
    letter-spacing: .6rem;
}
.home .container .hometext p{
    padding-top: 1rem;
    letter-spacing: .2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.services{
    min-height: 100vh;
    background-color: var(--white-2);
    padding: 2rem 0;
}
.services .heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    padding-bottom: 1rem;
}
.services .introPara{
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.services .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.services .container .box{
    flex: 1 1 25rem;
    background-color: #fff;
    text-align: center;
    margin: 2rem;
    padding: 2rem 1rem;
    cursor: pointer;   
}
.services .container .box:hover{
    box-shadow:  28px 28px 67px #b8b8b8,
             -28px -28px 67px #ffffff;
}
.services .container .box h3{
    color: black;
    padding-bottom: .5rem;
    font-size: 2.2rem;
}
.services .container .box p{
    line-height: 2.5rem;
    font-size: 1.5rem;
}
.projects{
    padding-top: 5rem;
    min-height: 100vh;
    background-color: var(--white-2);
}
.projects .heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    padding-bottom: 1rem;
}
.projects .introPara{
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.projects .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
.projects .container .box{
    flex: 1 1 30rem;
    height: 50rem;
    margin: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    transition:all 0.9s ease-in-out;
    cursor: pointer;
}
.projects .container .box:hover{
    opacity: 0.3;
}
.projects .container .box1{
    background: url(images/project-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container .box2{
    background: url(images/project-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container .box3{
    background: url(images/project-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container .box4{
    background: url(images/project-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container .box5{
    background: url(images/project-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container .box6{
    background: url(images/project-6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .container span{
    color: var(--white-2);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.projects .container h5{
    color: var(--white-1);
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.projects .container button{
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .container{
    flex: 1 1 30rem;
    padding: 2rem 0;
}
.about .container img{
    width: 80%;
    border-radius: .5rem;
    padding-left: 5rem;
}
.about .content{
    flex: 1 1 30rem;
    padding: 2rem 1rem;
}
.about .content h1{
    color: black;
    font-size: 10rem;
    padding: 1rem 0;
}
.about .content p{
    font-size: 1.5rem;
    line-height: 2.1rem;
}
.about .content h2{
    color: black;
    font-size: 3rem;
    padding: 1rem 0;
}
.nextBanner{
    background: url(images/cta-bg.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 2rem;
    margin-top:3rem ;
}
.nextBanner p{
    color: var(--white-1);
    font-size: 2rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
}
.nextBanner h1{
    color: var(--white-1);
    font-size: 6rem;
    padding-bottom: 1rem;
}
.nextBanner button{
    background-color: var(--white-1);
    color: #333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.blog{
    padding-top: 5rem;
    min-height: 100vh;
    background-color: var(--white-2);
}
.blog .heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    padding-bottom: 1rem;
}
.blog .introPara{
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.blog .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
}
.blog .container .right{
    flex: 1 1 25rem;
}
.blog .container .right h5{
    color: black;
    font-size: 2.5rem;
}
.blog .container .right img{
    width: 90%;
    height: 70vh;
    transition: 0.5s ease;
}
.blog .container  img:hover{
    transform: scale(1);
}
.blog .container .left{
    flex: 1 1 25rem;
}
.blog .container .left h5{
    display: inline;
    font-size: .9rem;
    color: black;
}
.blog .container .left img{
    width: 30%;
}
.blog span{
    color: red;
    font-size: 1.5rem;
}
.contact{
    padding-top: 5rem;
    min-height: 100vh;
    
    background-color: #e7e7e7;
}
.contact .heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: black;
    padding-bottom: 1rem;
}
.contact .introPara{
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.contact .form-container form{
    width: 80%;
    margin: 0 auto;
    padding: 2rem ;
    background:rgba(255,255,255,.1);
    /* box-shadow: 0 .3rem .5rem #000; */
    text-align: center;
    background-color: #fff;
    border-radius: 1.2rem;
    border-top: .1rem solid rgba(255,255,255,.3);
    border-left: .1rem solid rgba(255,255,255,.3);
}
.contact .form-container form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .form-container form .inputBox input{
    height: 4rem;
    width: 49%;
    
    background-color: #e7e7e7;
    color: black;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    outline: none;
    border: none;
}
.contact .form-container form textarea{
    height:20rem;
    width: 100%;
    
    background-color: #e7e7e7;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    outline: none;
    border:none;
    resize: none;
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
}
.contact .container .box{
    flex: 1 1 35rem;
    background-color: #fff;
    /* border: 1px solid red; */
    margin: 1rem .4rem ;
    text-align: center;
    border-radius: .5rem;
    padding-bottom: 1rem;
}
.contact .container .box:hover{
    color: var(--persian-rose);
}
.contact .container .box h5{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
}
.contact .container .box p{
    padding: .5rem 2.2rem;
    font-size: 1.2rem;
}
.contact .container .box span{
    padding: 1rem 2.2rem;
    font-size: 1.2rem;
}
.footer{
    background: #e7e7e7;
    text-align: center;
    padding-top: 3rem;
}
.footer p{
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.footer span{
    color: var(--persian-rose);
    font-weight: bolder;
}
.mobileIcon{
    color: black;
    font-size: 3rem;
    cursor: pointer;
    z-index: 999;
}
.mobileNavbar{
    display: none;
}
.mobileIcon[name='close-outline']{
    display: none;
}

/* media queries */
@media (max-width:870px) {
    html{
        font-size: 55%;
    }
    .mobileNavbar{
        display: block;
    }
    header{
        position: relative;
    }
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: var(--white-1);
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }   
    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobileNavbar .mobileIcon[name='close-outline']{
        display: block;
    }
    .active .mobileNavbar .mobileIcon[name='menu-outline']{
        display: none;
    }
    header .navbar ul{
        flex-flow: column;
        padding: 1rem 0;
        background-color: var(--white-2);
    }
    header .navbar ul li{
        width: 100%;
        align-items: center;
        margin: 1rem auto;
    }
    header .navbar ul li a{
        font-size: 3rem;
        display: block;
        color: #333;
    }
    .home .hometext{
        text-align: center;
    }
    .blog .container .left img{
        width: 60%;
        height: auto;
    }
    .blog .container .left h5{
        font-size: 2rem;
    }
    .blog .container .left span{
        display: block;
    }
    .contact .container .box{
        padding: 2rem 0;
    }
    .footer{
        padding: 0;
    }
}